#divMain
{
    position:absolute;
    width:900px;
    top:50px;
}

#divMainContent
{
    position:relative;
}


#divMain .seating
{
    float:left;
    width:600px;
    text-align:center;
    padding-right:10px;
    border:solid 1px #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#divMain .chat
{
    width:250px;
    float:right;
    margin-right:15px;
    border:solid 1px #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#divMainContent a:link, #divMainContent a:active, #divMainContent a:visited
{
    color:#336699;
    text-decoration:none;
}

#divMainContent a:hover
{
    color:#fff;
    text-decoration:underline;
}

#divMainContent table
{
    width:100%;
    border:0px;
}

#divMainContent th
{
    background-color:#fff;
    padding:3px;
    text-align:center;
}


.SeatOpen
{
   border:solid 1px #aaa;
   height:65px;
   width:65px;
   -moz-border-radius: 10px;
   -webkit-border-radius:10px;
    
}
.SeatTaken
{
    background-color:#aaa; 
    border:solid 1px #aaa;
    height:65px;
    width:65px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
}

.SeatOpenHeading
{
    background-color:#5089c1;
    color:#fff;
    margin:0px;
    padding:4px;
    text-align:right;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
 
}

.SeatTakenHeading
{
    background-color:#5089c1;
    color:#555;
    margin:0px;
    padding:4px;
    text-align:right;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
 
}

.SeatDetail
{
    font-size:8pt;
    margin:0px;
    padding:2px;
    text-align:center;
}
a.SeatOpen:hover, a.SeatTaken:hover
{
    text-decoration:underline;
    color:#fff;
}

.ProfSeat
{
    background-color:#e49a18;
    border:solid 1px #aaa;
    margin-left:255px;
    height:65px;
    width:75px;
    text-align:center;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
}

a.SeatOpenHeading:hover, a.MySeat:hover
{
    cursor:hand;
    background-color:#6699cc;
    border:solid 1px #aaa;
}

